@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Great+Vibes&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

p,h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 1;
  letter-spacing: -2.5px;
}

.App {
  /* background-color: #fef8f8;
  background-image: url('./images/wdbg.jpg');
  background-position-x: center;
  background-position-y: top;
  background-size: 100%;
  background-repeat: no-repeat; */
}

.page {
  /* margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: rgba(255, 255, 255, .5); */
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.the-nav {
  
}

.nav-elmt {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: space-between;
  padding: 20px;
  background-color: #00bdc382;
  filter: drop-shadow(2px 3px 3px rgb(46, 45, 45));
}

.nav-date {
  font-size: 73%;
  color: #290e00;
}

.nav-title {
  /* margin-top: 30px; */
  /* font-family: 'Satisfy', cursive; */
  /* font-family: 'Fleur De Leah', cursive; */
  font-family: 'Great Vibes', cursive;
  font-size: 200%;
  text-align: center;
  color: white;
}

.nav-links {
  display: none;
  text-decoration: none;
  font-size: 85%;
  text-transform: uppercase;
  font-weight: 800;
  width: 50%;
  max-width: 530px;
  /* margin: auto; */
  /* margin-top: 40px; */
}

.nav-links a {
  text-decoration: none; 
  display: flex;
  margin: auto;
  color: white;
}


.nav-links a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.nav-links a:active {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.mobile-nav {
  /* margin-top: 27px; */
  cursor: pointer;
}

.mobile-nav img {
  /* filter: invert(1); */
  width: 24px;
}

.mobile-navg {
  position: absolute;
  width: 100%;
  margin-top: 10px;
  z-index: 10;
}

.mobile-nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  animation: fade .5s 1 forwards;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.mobile-nav-items a {
  display: flex;
  margin: auto;
  text-decoration: none;
  font-size: 90%;
  padding: 17px;
  border-bottom: 1px solid white;
  color: white;
  /* background-color: rgba(0, 0, 0, .6); */
  background-color: #f8c058;
  width: 95%;
  text-align: center;
  box-sizing: border-box;
  animation: roller .5s 1 forwards;
}

@keyframes roller {
  from {transform: translateY(-40px); transform: rotate(-20deg); opacity: .3;}
  to {transform: translateY(0); transform: rotate(0); opacity: 1;}
}

.mobile-nav-items a:hover {
  background-color: #00bec3;
  transition: .3s ease-in-out;
}

.hidden-scr {
  display: flex;
}

@media (min-width: 768px) {
  .nav-title {
    font-size: 230%;
  }

  .nav-date {
    font-size: 83%;
    font-weight: 500;
  }

  .hidden-scr {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
  }

  .mobile-navg {
    display: none;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 10%; */
}



.intro-img {
  width: 100%;
}

.intro-img img {
  width: 80%;
}


.bg-img {
  width: 100%;
}

.bg-img img {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  /* margin-top: -90px; */
  /* filter: blur(.9px); */
  filter: opacity(.7);
  z-index: -10;
}

.intro-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  top: 40%;
  left: 15%;
  right: 15%;

}

.intro-text h2 {
  font-size: 140%;
  font-weight: 400;
  padding: 12px;
  color: white;
  border-radius: 10px;
  background-color: #7e4000;
  filter: drop-shadow(1px 2px 2px lightgrey);
  font-family: 'Great Vibes', cursive;
  animation: bounce 1.5s infinite forwards;
}

.intro-text h1 {
  margin-top: 13px;
  font-size: 380%;
  line-height: 1;
  letter-spacing: -2.5px;
  animation: skew 1.5s 1 forwards;
}


@keyframes skew {
  0% {transform: scale(0.9); opacity: .2;}
  25% {transform: scale(1.2);}
  100% {transform: scale(1); opacity: 1;}
}

.love-story {
  padding: 20px;
  padding-top: 20%;
  /* background-image: url('./images/married3.jpg'); */
  background-size: cover;
  background-position: center;
}

.love-text {
  display: flex;
  align-items: center;
  margin: auto;
  width: 90%;
  justify-content: center;

}

.love-text img {
  width: 50px;
  margin-left: 10px;
}

.love-text h1 {
  text-align: center;
  font-size: 210%;
  line-height: 1;
  letter-spacing: -2.5px;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20px; */
  max-width: 1100px;
  margin: auto;
}

.met-her {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.met-him {
  
}

.love-letter {
  display: flex;
  padding: 20px;
  margin: auto;
  
}

.love-letter img {
  width: 140px;
  object-fit: cover;
  animation: bounce 4s infinite forwards;
}

.met-img {
  position: relative;
  z-index: 10;
}

.met-img img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: top;
  height: 300px;
}


.met-her {
  margin-top: 42px;
}

.met-her div img {
  width: 290px;
  border-radius: 100px;
  object-fit: cover;
  object-position: top;
  height: 300px;
}

.met-imm {
  object-position: center !important;
}


.how {
  /* position: absolute; */
  margin-top: -150px;
  background-color: #7e4000;
  border-radius: 20px;
  color: white;
  padding: 20px;
  padding-top: 150px;
  bottom: 0;
  z-index: 0;
}

.how-next {
  margin-top: 4px !important;
  padding-top: 20px !important;
  background-color: #00bec3;
}

.how2-next {
  margin-top: 4px !important;
  padding-top: 20px !important;
  background-color: #ee6084 !important;
}

.how h1 {
  text-align: center;
  padding: 15px;
}

.how p {
  font-size: 78%;
}

.how2 p {
  font-size: 78%;
}

.how2 {
  /* position: absolute; */
  margin-top: -150px;
  background-color: #dcb468 ;
  border-radius: 20px;
  color: white;
  padding: 20px;
  padding-top: 150px;
  bottom: 0;
  z-index: 0;
}

.how2 h1 {
  text-align: center;
  padding: 15px;
}

@media (min-width: 768px) {
  .story {
    flex-direction: row;
    justify-content: space-between;
  }

  .love-text h1 {
    font-size: 270%;
  }
  
  .love-story {
    padding-top: 10%;
  }
}

.gallery {
  padding: 20px;
}

@media (min-width: 768px) {
  .gallery {
    display: none;
  }
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  padding: 30px;
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: aquamarine;

}

.location .love-text {
  padding: 20px;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1100px;;
}

.address h2 {
  font-weight: 600;
  margin-left: 10px;
  line-height: 1;
  letter-spacing: -2.2px;
}

.address img {
  width: 70px;
}

.give {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
  padding: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1000px;
  /* background-image: url('./images/married3.jpg'); */
  /* background-size: cover; */

  /* background-color: aquamarine; */
}

.account {
  margin-top: 15px;
}

.account .show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  border-radius: 12px;
  background-color: white;
  filter: drop-shadow(1px 2px 4px grey);
  margin-top: 20px;
  cursor: pointer;
}

.account .show p {
  font-weight: 500;
  font-size: 90%;
}

.account .show img {
  width: 26px;
  margin-left: 10px;
}

.account p {
  font-size: 78%;
  text-align: center;
}

.account h2 {
  padding: 30px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 100%;
  /* margin-left: 10px; */
  line-height: 1.9;
  /* text-align: center; */
  letter-spacing: -1.1px;
  background-color: aliceblue;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 90px;
  background-color: #121212;
}

.footer .nav-title p {
  color: white;
}

.icons {
  display: flex;
  justify-content: center;
  padding: 30px;
  max-width: 900px;
  align-items: center;
  margin: auto;
}

.icons a {
  text-decoration: none !important;
  display: flex;
}

.icons img {
  width: 60px;
}

.copy {
  text-align: center;
  color: white;
  line-height: 1.2;
  letter-spacing: -.7px;
}

@media (min-width: 768px) {
  .account {
    font-size: 150%;
  }
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 25px;
  /* background-image: url('./images/married.jpg'); */
  background-size: cover;
  background-position: center;
  background-color: white;
  filter: drop-shadow(1px 1px 20px rgb(180, 180, 180));
  box-sizing: border-box !important;
}

.count-down {
  display: flex;
  justify-content: center;
}

.count-down span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.secs {
  margin-right: 0 !important;
}

.count-down div {
  font-size: 300%;
  font-weight: 800;
  word-spacing: 10px;
  color:#f8c058;
  text-shadow: 1px 2px 2px grey;

}

.count-down p {
  font-size: 120%;
  word-spacing: 10px;
  font-family: 'Great Vibes', cursive;
}

@media (min-width: 768px) {
  .count-down div {
    font-size: 500%;
  }
  .count-down p {
    font-size: 220%;
    word-spacing: 20px;
  }
  .count-down span {
    margin-right: 30px;
  }
  
}