@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Great+Vibes&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

p,h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}

.App {
  /* background-color: #fef8f8;
  background-image: url('./images/wdbg.jpg');
  background-position-x: center;
  background-position-y: top;
  background-size: 100%;
  background-repeat: no-repeat; */
}

.page {
  /* margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: rgba(255, 255, 255, .5); */
}

.navbar {

}

.the-nav {
  
}

.nav-elmt {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: space-between;
  padding: 20px;
  background-color: #00bdc382;
}

.nav-date {
  font-size: 73%;
  color: #290e00;
}

.nav-title {
  /* margin-top: 30px; */
  /* font-family: 'Satisfy', cursive; */
  /* font-family: 'Fleur De Leah', cursive; */
  font-family: 'Great Vibes', cursive;
  font-size: 200%;
  text-align: center;
  color: white;
}

.nav-links {
  display: none;
  text-decoration: none;
  font-size: 85%;
  text-transform: uppercase;
  font-weight: 800;
  width: 50%;
  max-width: 530px;
  /* margin: auto; */
  /* margin-top: 40px; */
}

.nav-links a {
  text-decoration: none; 
  display: flex;
  margin: auto;
  color: white;
}


.nav-links a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.nav-links a:active {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.mobile-nav {
  /* margin-top: 27px; */
}

.mobile-nav img {
  filter: invert(1);
  width: 24px;
}

.mobile-navg {
  position: absolute;
  width: 100%;
  margin-top: 10px;
  z-index: 10;
}

.mobile-nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  animation: fade .5s 1 forwards;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.mobile-nav-items a {
  display: flex;
  margin: auto;
  text-decoration: none;
  font-size: 90%;
  padding: 17px;
  border-bottom: 1px solid white;
  color: white;
  /* background-color: rgba(0, 0, 0, .6); */
  background-color: #f8c058;
  width: 95%;
  text-align: center;
  box-sizing: border-box;
  animation: roller .5s 1 forwards;
}

@keyframes roller {
  from {transform: translateY(-40px); transform: rotate(-20deg); opacity: .3;}
  to {transform: translateY(0); transform: rotate(0); opacity: 1;}
}

.mobile-nav-items a:hover {
  background-color: #00bec3;
  transition: .3s ease-in-out;
}

.hidden-scr {
  display: flex;
}

@media (min-width: 768px) {
  .nav-title {
    font-size: 230%;
  }

  .nav-date {
    font-size: 83%;
    font-weight: 500;
  }

  .hidden-scr {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
  }

  .mobile-navg {
    display: none;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 10%; */
}



.intro-img {
  width: 100%;
}

.intro-img img {
  width: 80%;
}


.bg-img {
  width: 100%;
}

.bg-img img {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  margin-top: -90px;
  filter: blur(50%);
  z-index: -10;
}

.intro-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  top: 40%;
  left: 15%;
  right: 15%;

}

.intro-text h2 {
  font-size: 100%;
  font-weight: 400;
  padding: 12px;
  color: white;
  border-radius: 10px;
  background-color: #7e4000;
  filter: drop-shadow(1px 2px 2px lightgrey);
}

.intro-text h1 {
  margin-top: 13px;
  font-size: 380%;
  line-height: 1;
  letter-spacing: -2.5px;
}